@font-face {
  font-family: 'GT Walsheim'; /*this is what you put on your font family*/
  src: url('fonts/GTWalsheimProRegular.ttf'); /*Link to the font*/
}
*{
  margin: 0;
  padding: 0;
  user-select: none;
}
body {
    box-sizing: border-box;
    font-family: "GT Walsheim", normal;
    background-color: #FFFFFF;
  }
/* IconStyle the side navigation */
.divleft{
  float: left;
  padding-left: 2px; 
}
.IconnavBG {
   
    width: 60px;
    /*height: 982px;*/
    height: 100%;
    left: 0px;
    top: 0px;
   overflow-x: hidden;
    box-sizing: border-box;

    position: absolute;
    
    z-index: 1;
    /* Neutral/White/100% */

    background: #FFFFFF;
    /* Border/Light */

    border-right: 1px solid #EAEDF0;
  }
  
  .IconnavBG .logo {
    /* logoMark */
    position:relative;
    left: 1.37%;
    right: 96.65%;
    padding: 16px;
    top: 1.43%;
  }
  .IconnavBG .line {
    
    width: 65%;
    margin: 0px auto 10px auto;
    border-bottom: 1px solid #E9EBEF;
  }
  /* IconSide navigation links */

  .Iconsidenav {
    width: 56px; /* Set a width if you like */
  }
  .Iconsidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
    border: 1px solid #F5F5F5;
  }
  
  .Iconsidenav a:hover {
    /* Project 01 */
    /*box-sizing: border-box;*/

    /* Auto layout */

    /*display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
    gap: 8px; */

    width: 32px;
    height: 32px;

    background: rgba(83, 59, 229, 0.05);
    border: 1px solid #533BE5;
    border-radius: 8px;

    /* Inside auto layout 

    flex: none;
    order: 0;
    flex-grow: 0;*/
  }
  /* Change color on hover */
  .Iconsidenav a .select {
     /* Active Indicator */
     position: absolute;
     width: 2px;
     height: 23.02px;
     left: 0px;
     /*top: 69.05px; */
 
     background: #533BE5;
     border-radius: 0px 8px 8px 0px;
  }
  .Iconsidenav .imgBG {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
    gap: 8px;

    width: 32px;
    height: 32px;
    background: #F5F5F5;
    border-radius: 8px;
    
    margin: 0px auto 20px auto;
    /* Inside auto layout */

    /*flex: none;
    order: 0;
    flex-grow: 0;*/

  }
  .secondCol {
   
    width: 245px;
    /*height: 982px;*/
    height: 100%;
    left: 0px;
    top: 0px;
    overflow-x: hidden;
    box-sizing: border-box;

    position: absolute;
    margin-left: 56px;
   /* z-index: 1; */
    /* Neutral/White/100% */

    background: #FFFFFF;
    /* Border/Light */

    border-right: 1px solid #F4F4F4;
  }
  .secondCol .title{
    width: 244px;
    height: 56;
    /* padding-left: 60px; */
    margin: auto;
     margin: 0px auto 10px auto;
  }
  .secondCol h1{
    padding: 16px 16px 4px 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 20px;
    /* identical to box height, or 143% */

    letter-spacing: 0.2px;

    color: #292938;
  }

  .Level-Div {
    position: absolute;
    width: 245px;
    height: 64px;
    padding: 10px;
    border-bottom: 1px solid #E9EBEF;
  }
  .LevelTextBG{
    width: 240px;
    height: 16px;
    
  }
  .LevelTextBG img{
    float: left;
    margin: auto;
    }
  .LevelTextBG .levels{
    
    width: 40px;
    height: 16px;
    font-weight: 700;
    font-size: 12px;
    /* line-height: 16px; */
    margin: auto;
    text-align: left;
    /* identical to box height, or 133% */
    /* letter-spacing: 0.2px; */

    /* Neutral/Black/100 */

    color: #191925;

  }
  /* .LevelPercentage {
    float: left;
    width: 70px;
    height: 16px;
    text-align: right;
    border: 1px solid #533BE5;
  } */
  .LevelPercentage {
    width: 150px;
    height: 16px;
    text-align: right;
    color: #7F8995;
    /* border: 1px solid #533BE5; */
  }
  .Barcontainer {
    position: absolute;
    width: 216px;
    height: 8px;
    /* Neutral/Black/20 */
    margin-top: 10px;
    background: #F2F5F7;
    border-radius: 40px;
  }
  .Barcontainer .Bar-col {
    background: #4734FE;
    border-radius: 40px;
    background-image: linear-gradient(
      -20deg, 
      rgba(255, 255, 255, 0.16) 25%, 
      transparent 20%, 
      transparent 50%, 
      rgba(255, 255, 255, 0.16) 50%, 
      rgba(255, 255, 255, 0.16) 75%, 
      transparent 75%, 
      transparent 100%
    );
    z-index: 1;
    animation: move 2s linear infinite;
    overflow: hidden;
  }
 .verticalNav {
  position: fixed;
  width: 245px;
  height: 100%;
  left: 56px;
  top: 260px;
  /* background: #F2F5F7; */

 }
 .menuNav nav ul {
  /* background:#ffffff; */
  height: 100%;
  width: 100%;
  list-style: none;
 }
 .menuNav nav ul li{
  line-height: 25px;
  font-size: 14px;
  /* identical to box height, or 114% */
  letter-spacing: 0.2px;
  
 }
 .menuNav nav ul li a {
  position: relative;
  text-decoration: none;
  font-size: 15px;
  color: #6C6F75;
    padding-left: 20px;
  /* padding-bottom: 20px; */
  /* margin: 9px; */
  /* margin-top: 20px;  */
  margin-bottom: 20px;
  font-weight: 500;
  display: block;
  /* width: 100%; */
  /* border-bottom: 1px solid #919397; */
 }
 .menuNav nav ul li a img{
  position: relative;
  top: 50%;
  right: 10px;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  /* padding-right: 8px; */
  /* background-color: #292938; */
  /* padding-top: 2px; */
  /* margin: 0 auto; */
  /* text-align: center; */
  /* place-items: center; */
 }
 .menuNav nav ul li a span img{
  position: absolute;
  top: 50%;
  right: 20px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);

  -webkit-transition: transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
 }
 /* .menuNav nav ul li a:hover span img{
  -moz-transform: translateY(-50%) rotate(90deg );
  -ms-transform: translateY(-50%) rotate(90deg );
  -webkit-transform: translateY(-50%) rotate(90deg );
  transform: translateY(-50%) rotate(90deg );
 } */

 .menuNav nav ul li a span img.rotatearrow{
  -moz-transform: translateY(-50%) rotate(90deg );
  -ms-transform: translateY(-50%) rotate(90deg );
  -webkit-transform: translateY(-50%) rotate(90deg );
  transform: translateY(-50%) rotate(90deg );
 }
 .menuNav nav ul ul {
  position: static;
  display: none;
 }
 .menuNav nav ul li ul li a{
  font-size: 13px;
  color: #919397;
  padding-left: 35px;
  margin-bottom: 7px;
 }
 .menuNav nav ul li ul li a:hover{
  background: #F2F5F7;
  border-radius: 40px;
 }

 .menuNav nav ul .people-show.showpeoplechild {
  display: block;

 }
 .menuNav nav ul .Code-show.showcodechild {
  display: block;

 }
 .menuNav nav ul .Cloud-show.showcloudchild {
  display: block;

 }
 .menuNav nav ul .Team-show.showteamchild {
  display: block;

 }
 .menuNav nav ul .Global-show.showglobalchild {
  display: block;

 }
 .menuNav nav ul .Anal-show.showanalchild {
  display: block;

 }
 /* .menuNav nav ul li a:hover ul{
  display: none;

 } */
 .menuNav.fa-caret-right {
  content: "\f0da"
 }
  /* Style the content */
  .content {
    margin-left: 200px;
    padding-left: 20px;
  }
  
  /* .fa{
    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
  }
  fa-home:before{
    content:"\f015"
  } */